<h1 class="mat-h1" mat-dialog-tittle>Cadastro de Gasto Previsto</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field id="category-field" appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="type-field">
            <mat-radio-group formControlName="type" color="primary">
                <mat-radio-button *ngFor="let t of types" [value]="t">{{t}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field id="total-value-field" *ngIf="form.controls.type.value == 'VALUE'" appearance="outline">
            <mat-label>Valor Total</mat-label>
            <input matInput formControlName="totalValue"/>
        </mat-form-field>

        <div *ngIf="form.controls.type.value == 'FORMULA'" >
            <div formArrayName="formulas" *ngFor="let formula of formFormulas.controls; let i = index;">
                <div [formGroupName]="i">
                    <mat-form-field appearance="outline" *ngIf="i > 0">
                        <mat-select formControlName="operation">
                            <mat-option *ngFor="let o of operations" [value]="o">{{o}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-card *ngIf="getElement(formula).controls.length > 0">
                        <div formArrayName="elements" *ngFor="let element of getElement(formula).controls; let ind = index;">
                            <div [formGroupName]="ind">
                                <mat-form-field id="element-operation-field" appearance="outline" *ngIf="ind > 0">
                                    <mat-select formControlName="operation">
                                        <mat-option *ngFor="let o of operations" [value]="o">{{o}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div class="type-field">
                                    <mat-radio-group formControlName="type" color="primary">
                                        <mat-radio-button *ngFor="let t of elementTypes" [value]="t">{{t}}</mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <mat-form-field class="element-value-parameter" appearance="outline" *ngIf="element.controls.type.value == 'VALUE'">
                                    <mat-label>Valor Total Elemento</mat-label>
                                    <input matInput formControlName="totalValue"/>
                                </mat-form-field>

                                <mat-form-field class="element-value-parameter" appearance="outline" *ngIf="element.controls.type.value == 'PARAMETER'">
                                    <mat-label>Parâmetro</mat-label>
                                    <input matInput formControlName="parameter"/>
                                </mat-form-field>
                            </div>
                        </div>

                        <button mat-stroked-button (click)="addElement(formula)">Add</button>
                    </mat-card>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions class="dialog-buttons">
    <button type="button" mat-stroked-button (click)="cancel()">Cancelar</button>
    <button type="button" mat-stroked-button color="primary" (click)="onSubmit()">Salvar</button>
</div>