<h1 class="mat-h1" mat-dialog-tittle>Cadastro de Gasto Previsto</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field id="category-field" appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field id="period-field" appearance="outline">
            <mat-label>Período</mat-label>
            <mat-select formControlName="period">
                <mat-option *ngFor="let period of periods" [value]="period">
                    {{period}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div id="top-type-field">
            <mat-radio-group formControlName="type" color="primary">
                <mat-radio-button *ngFor="let t of types" [value]="t">{{t}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field id="total-value-field" *ngIf="form.controls.type.value == 'VALUE'" appearance="outline">
            <mat-label>Valor Total</mat-label>
            <input matInput formControlName="totalValue"/>
        </mat-form-field>

        <div *ngIf="form.controls.type.value == 'FORMULA'" >
            <div formArrayName="formulas" *ngFor="let formula of formFormulas.controls; let i = index;">
                <div [formGroupName]="i">
                    <mat-form-field class="select-formula-operation" appearance="outline" *ngIf="i > 0">
                        <mat-select formControlName="operation">
                            <mat-option *ngFor="let o of operations" [value]="o">{{o}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-card>
                        <button class="button-remove-formula" mat-icon-button color="warn" title="Remove a fórmula" (click)="removeFormula(i)"><mat-icon>clear</mat-icon></button>

                        <div class="elements" formArrayName="elements" *ngFor="let element of getElement(formula).controls; let ind = index;">
                            <div [formGroupName]="ind">
                                <mat-form-field class="element-operation-field" appearance="outline" *ngIf="ind > 0">
                                    <mat-select formControlName="operation">
                                        <mat-option *ngFor="let o of operations" [value]="o">{{o}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div class="type-field">
                                    <mat-radio-group formControlName="type" color="primary">
                                        <mat-radio-button *ngFor="let t of elementTypes" [value]="t">{{t}}</mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <mat-form-field class="element-value-parameter" appearance="outline" *ngIf="element.controls.type.value == 'VALUE'">
                                    <mat-label>Valor Total Elemento</mat-label>
                                    <input matInput formControlName="totalValue"/>
                                </mat-form-field>

                                <mat-form-field class="element-value-parameter" appearance="outline" *ngIf="element.controls.type.value == 'PARAMETER'">
                                    <mat-label>Parâmetro</mat-label>
                                    <mat-select formControlName="parameter">
                                        <mat-option *ngFor="let parameter of parameters" [value]="parameter.id">
                                            {{parameter.name + ' (R$' + parameter.value + ')'}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <button mat-icon-button class="button-remove-element" color="warn" (click)="deleteElement(formula, ind)"><mat-icon>delete</mat-icon></button>
                            </div>
                        </div>

                        <button class="button-add-element" mat-stroked-button (click)="addElement(formula)">Adicionar Elemento</button>
                    </mat-card>
                </div>
            </div>

            <button class="button-add-formula" mat-stroked-button (click)="addFormula()">Adicionar Fórmula</button>

            <mat-divider></mat-divider>

            <p class="formula-result">Fórmula: {{formulaLabel}}</p>
            <p class="formula-result">Valor: {{formulaTotalValue}}</p>
            <div class="div-refresh-formula-result">
                <button mat-icon-button class="button-refresh-formula-result" (click)="buildFormulaLabelAndTotalValue()"><mat-icon>refresh</mat-icon></button>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions class="dialog-buttons">
    <button type="button" mat-stroked-button (click)="cancel()">Cancelar</button>
    <button type="button" mat-stroked-button color="primary" (click)="onSubmit()">Salvar</button>
</div>