.dialog-buttons button {
    width: 48%;
    margin-left: 4%;
}

.dialog-buttons button:first-of-type {
    margin-left: 0;
}

mat-form-field {
    width: 100%;
}

#category-field {
    width: 48%;
    margin-right: 2%;
}

#top-type-field {
    display: inline-block;  
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.element-operation-field, .select-formula-operation {
    display: block;
    width: 20%;
    margin: 0 auto;

    text-align: center;
}

#period-field {
    width: 48%;
    margin-left: 2%;
}

.type-field {
    display: inline-block;    
    width: 38%;
    margin-right: 2%;
}

.type-field mat-radio-button, #top-type-field mat-radio-button {
    margin-right: 20px;
}

.element-value-parameter {
    width: 55%;
}

.button-add-element {
    display: block;
    margin: 0 auto;
}

.button-remove-element {
    margin-left: 1%;
    width: 4%;
}

.button-add-formula {
    display: block;
    margin: 10px auto;
}

.button-remove-formula {
    float: right;
    margin-bottom: 10px;
}

.elements {
    clear: both;
}

.formula-result, .div-refresh-formula-result {
   text-align: center;
}