.dialog-buttons button {
    width: 48%;
    margin-left: 4%;
}

.dialog-buttons button:first-of-type {
    margin-left: 0;
}

mat-form-field {
    width: 100%;
}

#category-field {
    width: 48%;
    margin-right: 2%;
}

#type-field {
    width: 48%;
    margin-left: 2%;
}

#element-operation-field {
    display: block;
    width: 20%;
    margin: 0 auto;

    text-align: center;
}

.type-field {
    display: inline-block;    
    width: 38%;
    margin-right: 2%;
}

.type-field mat-radio-button {
    margin-right: 10px;
}

.element-value-parameter {
    width: 60%;
}

.button-add-element {
    display: block;
    margin: 0 auto;
}