<h1 class="mat-h1 content-title">Controle Financeiro</h1>

<mat-card class="content-body">
    <mat-tab-group>
        <mat-tab label="Gastos Mensais">
            <div class="mat-tab-content">
                <app-expenses-per-month></app-expenses-per-month>
            </div>
        </mat-tab>
        <mat-tab label="Gastos">
            <div class="mat-tab-content">
                <app-expenses></app-expenses>
            </div>
        </mat-tab>
        <mat-tab label="Categorias">
            <div class="mat-tab-content">
                <app-expenses-categories></app-expenses-categories>
            </div>
        </mat-tab>
        <mat-tab label="Investimentos">
            Controle de Investimentos
        </mat-tab>
        <mat-tab label="Objetivos">
            Controle de Objetivos
        </mat-tab>
        <mat-tab label="Parâmetros">
            <app-finantial-parameters></app-finantial-parameters>
        </mat-tab>
        <mat-tab label="Descrição">
            <p>Aqui você irá informar tudo referente à movimentação de dinheiro (gastos previstos/recorrentes x realizados, gastos por categoria, investimentos, etc.). A aplicação também irá permitir cadastrar objetivos, informando data planejada, gasto e quanto falta . Dessa forma vc sempre irá lembrar porque deve economizar.</p>
        </mat-tab>
    </mat-tab-group>    
</mat-card>