/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-title, #app-title {
    font-size: 20px;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #aaa ;
    text-align: center;
    background-color: #fff;
}

.content-body {
    margin: 10px;
}

table {
    width: 100%;
}

.filters {
    margin-top: 10px;
}

.filters mat-form-field {
    margin-right: 10px;
}

.mat-tab-content {
    margin-top: 20px;
}